.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
}
  
  .scroll-wrapper img {
    width: auto;
}

.chart {
    max-width: 670px;
    margin: 0 auto;
    border: 2px solid red;
}
