.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
}
  
  .scroll-wrapper img {
    width: auto;
}

.chart {
    max-width: 655px;
    margin: 0 auto;
}
.chart img {
    object-fit: cover;
    width: 100%;
}
